Package: winunix-software-center
Version: 0.0.11
Installed-Size: 8
Maintainer: crasheddie <crash.eddie123@gmail.com>
Section: utils
Architecture: all
Priority: optional
Depends: python2, zenity
Homepage: https://winunix.github.io
Description: PosInstall for Winunix.
 A GUI script for install apps post installed system.
